body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: $primary-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.body.no-scroll {
  overflow: hidden;
}

.modal-default-backdrop {
  z-index: 999;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, .2);
  padding: 93px 15px;
  transition: opacity .45s cubic-bezier(.4, 0, .2, 1);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
}