.hero__title {
    color: white;
    font-weight: 900;
    font-size: 22px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  
    text-transform: uppercase;
    width: 181px;
    height: 74px;
    margin-left: 0;
    margin-bottom: 20px;
  }