
//mobile//


@media screen and (max-width: 767px) {

    .section{
        padding-bottom: 42px;
    }

.container-about {
        padding-left: 20px;
        padding-right: 20px;
        // padding-top: 60px;
        width: 100%;
    }
        .about__subtitle {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 18px;
            line-height: 1.22;
            text-align: center;
            text-transform: uppercase;
            color: #FCFCFC;
        }
    
        .about__title {
            margin-top: 12px;
            margin-bottom: 32px;
            margin-left: auto;
            margin-right: auto;
            max-width: 200px;
            font-family: 'Seymour One';
            font-weight: 400;
            font-size: 30px;
            line-height: 1.27;
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FCFCFC;
        }

    .about__traditions-production {
        max-width: 220px;
        font-size: 12px;
        line-height: 176%;
        letter-spacing: 0.04em;
        text-align: center;
        color: #FCFCFC;
        margin-left: auto;
        margin-right: auto;
         }

      .part-traditions {
        display: none;
      }

    .about__traditions {
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
          }

.about__traditions :not(:last-child) {
    margin-bottom: 4px;
}

.about__traditionc-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__modal-button {
    width: 164px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: #F8D24E;
    color: #131313;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: 12px 34px;
    transition: color (250ms cubic-bezier(0.4, 0, 0.2, 1));
    transition: background-color (250ms cubic-bezier(0.4, 0, 0.2, 1));
     }

.about__modal-button:hover {
    background-color: #0A8817;
}


.about__modal-button:focus {
    background-color: #0A8817;
    color: #FCFCFC;

    &::after {
            content: url(../images/about/icon-modal-button-white.svg);
        }
}

.about__modal-button::after {
    content: url(../images/about/icon-modal-btn.png);
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    transition: content (250ms cubic-bezier(0.4, 0, 0.2, 1));
}

.photo-cow {
    position: relative;
    width: 279.3px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}

.background-cow {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140.182px;
    z-index: 1;
    width: 278px;
    height: 278px;
    margin-left: auto;
    margin-right: auto;
}

.cow {
    position: absolute;
    top: 21.82px;
    z-index: 2;
    width: 278px;
    height: 278px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/about/cow-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}




}


//tablet//

@media screen and (min-width: 768px) and (max-width: 1199px) {

.container-about {
       padding-left: 32px;
        padding-right: 32px;
    }

    .about__subtitle {
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 22px;
        line-height: 1.23;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FCFCFC;
    }

    .about__title {
        margin-top: 12px;
        margin-bottom: 82px;
        font-family: 'Seymour One';
        font-weight: 400;
        font-size: 34px;
        line-height: 1.26;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FCFCFC;
    }

    .about__box-traditions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .about__traditions-production {
        font-size: 12px;
        line-height: 176%;
        letter-spacing: 0.04em;
        min-width: 336px;
        color: #FCFCFC;
    }

    .about__traditions :not(:last-child) {
        margin-bottom: 8px;
    }

    .about__traditions {
        margin-bottom: 48px;
    }

    .about__modal-button {
        width: 164px;
        cursor: pointer;
        background-color: #F8D24E;
        color: #131313;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        border-radius: 10px;
        border: none;
        padding: 12px 34px;
        transition: color (250ms cubic-bezier(0.4, 0, 0.2, 1));
            transition: background-color (250ms cubic-bezier(0.4, 0, 0.2, 1));
    }

        

.about__modal-button:hover {
    background-color: #0A8817;     
            }
               

.about__modal-button:focus {
    background-color: #0A8817;
    color: #FCFCFC;

    &::after {
            content: url(../images/about/icon-modal-button-white.svg);
        }
            }

.about__modal-button::after {
    content: url(../images/about/icon-modal-btn.png);
    margin-left: 5px;
       margin-top: auto;
        margin-bottom: auto;
        transition: content (250ms cubic-bezier(0.4, 0, 0.2, 1));
}
        
    

    .photo-cow {
        position: relative;
        width: 336px;
        height: 355.88px;

    }

    .background-cow {
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
        border-radius: 165.879px;
        z-index: 1;
        width: 334.65px;
        height: 330px;
    }

    .cow {
        position: absolute;
        top: 28.88px;
        z-index: 2;
        width: 334.65px;
        height: 330px;
        background-image: url(../images/about/cow-tablet.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

}









//desktop//


@media screen and (min-width: 1200px) {

.container-about {
        padding-left: 12px;
        padding-right: 12px;
    }

    .about__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 1.23;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FCFCFC;
    }

    .about__title {
        margin-top: 12px;
        margin-bottom: 82px;
        font-family: 'Seymour One';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.25;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FCFCFC;
    }

    .about__box-traditions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }

    .about__traditions-production {
        font-size: 16px;
        line-height: 176%;
        letter-spacing: 0.04em;
        max-width: 463px;
        color: #FCFCFC;
    }

    .about__traditions :not(:last-child) {
        margin-bottom: 8px;
    }

    .about__traditions {
        margin-right: 121px;
        margin-bottom: 48px;
    }

    .about__modal-button {
        width: 164px;
        cursor: pointer;
        background-color: #F8D24E;
        color: #131313;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        border-radius: 10px;
        border: none;
        padding: 12px 34px;
        transition: color (250ms cubic-bezier(0.4, 0, 0.2, 1));
        transition: background-color (250ms cubic-bezier(0.4, 0, 0.2, 1));
    }

        
.about__modal-button:hover {
    background-color: #0A8817;
}


.about__modal-button:focus {
    background-color: #0A8817;
    color: #FCFCFC;

    &::after {
     content: url(../images/about/icon-modal-button-white.svg);
    }
}



.about__modal-button::after {
    content: url(../images/about/icon-modal-button.svg);
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    transition: content (250ms cubic-bezier(0.4, 0, 0.2, 1));
   }

   


        

    .photo-cow {
        position: relative;
        width: 500px;
        height: 529px;

    }

    .background-cow {
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
        border-radius: 250px;
        z-index: 1;
        width: 500px;
        height: 500px;
    }

    .cow {
        position: absolute;
        top: 39px;
        z-index: 2;
        width: 490px;
        height: 490px;
        background-image: url(../images/about/cow-desktop.png);
        background-size: contain;
        background-repeat: no-repeat;

    }

}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .cow {
        background-image: url(../images/about/cow-mobile@2x.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .cow {
        background-image: url(../images/about/cow-tablet@2x.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200x) {
    .cow {
        background-image: url(../images/about/cow-desktop@2x.png);
    }
}


