<div class="modal-default-backdrop about-modal__is-hidden" data-about-modal>

<!--Корневой див-->
    <div class="modal-form" >


        <button type="button" class="modal-close-btn" data-about-modal-close>
            <svg class="modal-close-btn-icon">
                <use href="./images/sprite.svg#icon-modal-close-icon"></use>
            </svg>
        </button>

        <h3 class="modal-title">How it's made?</h3>
        <iframe class="video-ice-cream" src="https://www.youtube.com/embed/x2J_wl3Rk0U" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <p class="modal-video-description">Gelato is a handmade dessert, a type of ice cream. It is prepared from fresh
            milk, cream and sugar with the addition of
            natural seasonal fruits, berries, vegetables and herbs, as well as chocolate, nuts, cheese and other
            ingredients.</p>
    </div>
</div>