<div class="milkshakes-modal__is-hidden modal-default-backdrop" data-milkshakes-modal>


    <div class="modal-ingredients">
        <p class="modal-ingredients__text">Milkshakes</p>
        <div class="modal-ingredients__box-image">
            <img srcset="./images/modal/ingredients-modal/icecream-modal-ingredients.png 1x, ./images/modal/ingredients-modal/icecream-modal-ingredients@2x.png 2x"
                src="./images/modal/ingredients-modal/icecream-modal-ingredients.png"
                alt="A man holds an ice cream in his hands" class="modal-ingredients__image" />
        </div>
        <ul class="modal-ingredients__nutritional-value">
            <li class="modal-ingredients__point">
                <span class="modal-ingredients__amount">320</span>
                kcal
            </li>
            <li class="modal-ingredients__point">
                <span class="modal-ingredients__amount">4g</span>
                Protein
            </li>
            <li class="modal-ingredients__point">
                <span class="modal-ingredients__amount">8,2g</span>
                Fats
            </li>
            <li class="modal-ingredients__point">
                <span class="modal-ingredients__amount">40,4g</span>
                Carbs
            </li>
        </ul>
        <table class="modal-ingredients__table">
            <caption class="modal-ingredients__table-title">Ingredients</caption>
            <tbody class="modal-ingredients__table-body">
                <tr class="modal-ingredients__table-row">
                    <td>Milk</td>
                    <td>100ml</td>
                </tr>
                <tr class="modal-ingredients__table-row">
                    <td>Belgian chocolate</td>
                    <td>20g</td>
                </tr>
                <tr class="modal-ingredients__table-row">
                    <td>Cream</td>
                    <td>150 ml</td>
                </tr>
                <tr class="modal-ingredients__table-row">
                    <td>Cocoa powder</td>
                    <td>30g</td>
                </tr>
                <tr class="modal-ingredients__table-row">
                    <td>Sugar</td>
                    <td>40g</td>
                </tr>
                <tr class="modal-ingredients__table-row">
                    <td>Vanilla sugar</td>
                    <td>10g</td>
                </tr>
            </tbody>
        </table>
        <form class="modal-ingredients__form">
            <label class="modal-ingredients__form-point">
                <input type="text" name="name" placeholder="Name" required class="modal-ingredients__form-field">
            </label>
            <label class="modal-ingredients__form-point">
                <input type="tel" name="tel" placeholder="Phone" required class="modal-ingredients__form-field">
            </label>
            <label class="modal-ingredients__form-point modal-ingredients__form-point--margin">
                <textarea name="comment" placeholder="Comment" rows="3" required
                    class="modal-ingredients__form-field modal-ingredients__comments"></textarea>
            </label>
            <button type="submit" class="button modal-ingredients__button">Submit</button>
        </form>



        <button type="button" class="button close-modal-button" data-milkshakes-modal-close>
            <svg class="close-modal-button__icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-modal-close-icon"></use>
            </svg>
        </button>

    </div>
</div>