<div class="buynow-modal__is-hidden">
  <div class="modal-products">
    <p>Buy now</p>

    <form class="modal-products__form">
      <label>
        <input
          type="checkbox"
          class="modal-product__check"
          name="ice-cream"
          required
        />
        <img srcset=>
      </label>

      <label>
        <input
          type="checkbox"
          class="modal-product__check"
          name="ice-coffee"
          required
        />
        <img srcset=>
      </label>

      <label>
        <input
          type="checkbox"
          class="modal-product__check"
          name="milkshake"
          required
        />
        <img srcset=>
      </label>

      <label class="modal-products__form-point">
        <input
          type="text"
          name="name"
          placeholder="Name"
          required
          class="modal-products__form-field"
        />
      </label>
      <label class="modal-products__form-point">
        <input
          type="tel"
          name="tel"
          placeholder="Phone"
          required
          class="modal-ingredients__form-field"
        />
      </label>
      <label
        class="
          modal-ingredients__form-point modal-ingredients__form-point--margin
        "
      >
        <textarea
          name="comment"
          placeholder="Comment"
          rows="3"
          required
          class="modal-ingredients__form-field modal-ingredients__comments"
        ></textarea>
      </label>
      <button type="submit" class="button modal-ingredients__button">
        Submit
      </button>
    </form>
  </div>
</div>
