<div class="modal-default-backdrop franchise-modal__is-hidden" data-franchise-modal>
  <div class="modal-franchise">
    <button
      type="button"
      class="franchise-close-button"
      data-franchise-modal-close
    >
      <svg class="franchise-icon-close svg" width="16" height="16">
        <use href="./images/sprite.svg#icon-modal-close-icon"></use>
      </svg>
    </button>
    <form class="modal-farnchise_form">
      <p class="modal-franchise_form-title">
        Thank you for your interest in owning an Ice Cream shop
      </p>
      <p class="modal-franchise_form-subtitle">
        Due to the overwhelming volume of franchise requests we are not
        accepting new franchisee applications at this time. Once the application
        process resumes, we will contact you for further information. Please
        fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
      <div class="modal-franchise_form-field">
        <label for="name" class="modal-franchise_form-label">
          <input
            class="modal-franchise_form-input"
            type="text"
            name="name"
            id="name"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇ`ʼ]+"
            placeholder="Name"
          />
        </label>
      </div>
      <div class="modal-franchise_form-field">
        <label for="tel" class="modal-franchise_form-label">
          <input
            class="modal-franchise_form-input"
            type="tel"
            name="tel"
            id="tel"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            placeholder="Phone"
          />
        </label>
      </div>
      <div class="modal-franchise_form-field">
        <label for="email" class="modal-franchise_form-label">
          <input
            class="modal-franchise_form-input"
            type="email"
            name="email"
            id="email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            placeholder="Email"
          />
        </label>
      </div>
      <div class="modal-franchise_form-field">
        <label for="comment" class="form-label">
          <textarea
            class="modal-franchise_textarea"
            name="comment"
            id="comment"
            placeholder="Comment"
          ></textarea>
        </label>
      </div>
      <div class="modal-franchise_form-field">
        <button class="modal-franchise_button button" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
