<button type="button" class="button products-button">
    <svg class="products-button__icon">
        <use href="./images/sprite.svg#icon-arrow-icon"></use>
    </svg>
</button>
<div>
    <div class="backdrop">
        <div class="modal-ingredients">
            <p>Chololate icecream</p>
            <img src="./images/products/mobile/icecoffe-products.png" alt="Man holding chocolate ice cream"
                width="138px">
            <ul>
                <li><span>320</span><span>kcal</span></li>
                <li><span>4g</span><span>Protein...</span></li>
                <li><span>8,2g</span><span>Fats</span></li>
                <li><span>40,4g</span><span>Carbs</span></li>
            </ul>
            <table>
                <tbody>
                    <tr>
                        <td>Milk</td>
                        <td>100ml</td>
                    </tr>
                    <tr>
                        <td>Belgian chocolate</td>
                        <td>20g</td>
                    </tr>
                    <tr>
                        <td>Cream</td>
                        <td>150 ml</td>
                    </tr>
                    <tr>
                        <td>Cocoa powder</td>
                        <td>30g</td>
                    </tr>
                    <tr>
                        <td>Sugar</td>
                        <td>40g</td>
                    </tr>
                    <tr>
                        <td>Vanilla sugar</td>
                        <td>10g</td>
                    </tr>
                </tbody>
            </table>
            <form>
                <label>
                    <input type="text" name="name" placeholder="Name" required>
                </label>
                <label>
                    <input type="tel" name="tel" placeholder="Phone" required>
                </label>
                <label>
                    <textarea name="comment" placeholder="Comment" cols="30" rows="10" required></textarea>
                </label>
                <button type="submit" class="button">Submit</button>
            </form>
            <button type="button" class="button">
                <svg>
                    <use href="./images/sprite.svg#icon-facebook-icon"></use>
                </svg>
            </button>
        </div>
    </div>
</div>