<div class="modal-default-backdrop buynow-modal__is-hidden" data-buy-modal>
  <div class="modal-buynow">
    <button type="button" class="buynow_close-button" data-buy-modal-close>
      <svg class="modal-buynow_icon-close svg" width="16" height="16">
        <use href="./images/sprite.svg#icon-modal-close-icon"></use>
      </svg>
    </button>

    <form class="modal-buynow__form">
      <p class="modal-buynow_title">Buy now</p>
      <div class="modal-buynow_label-container">
        <input
          type="checkbox"
          class="modal-buynow__check1"
          name="ice-cream"
          id="ice-cream"
          required
        />
        <label for="ice-cream" class="modal-buynow_label1-checkbox">
          <picture class="modal-picture_icecream">
            <source
              srcset="
                ./images/modal/buy-now-modal/icecream-buy-now-modal.png    1x,
                ./images/modal/buy-now-modal/icecream-buy-now-modal@2x.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/modal/buy-now-modal/icecream-buy-now-modal.png    1x,
                ./images/modal/buy-now-modal/icecream-buy-now-modal@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/modal/buy-now-modal/icecream-buy-now-modal.png    1x,
                ./images/modal/buy-now-modal/icecream-buy-now-modal@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/modal/buy-now-modal/icecream-buy-now-modal.png"
              alt="icecream"
            />
          </picture>
        </label>
        <p class="modal-buynow_subtitle-icecream">ice cream</p>

        <input
          type="checkbox"
          class="modal-buynow__check2"
          name="ice-coffee"
          id="ice-coffee"
          required
        />

        <label for="ice-coffee" class="modal-buynow_label2-checkbox">
          <picture class="modal-picture_icecoffe">
            <source
              srcset="
                ./images/modal/buy-now-modal/icecoffe-buy-now-modal.png    1x,
                ./images/modal/buy-now-modal/icecoffe-buy-now-modal@2x.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/modal/buy-now-modal/icecoffe-buy-now-modal.png    1x,
                ./images/modal/buy-now-modal/icecoffe-buy-now-modal@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/modal/buy-now-modal/icecoffe-buy-now-modal.png    1x,
                ./images/modal/buy-now-modal/icecoffe-buy-now-modal@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/modal/buy-now-modal/icecream-buy-now-modal.png"
              alt="icecoffee"
            />
          </picture>
        </label>
        <p class="modal-buynow_subtitle-coffee">ice coffee</p>

        <input
          type="checkbox"
          class="modal-buynow__check3"
          name="milkshake"
          id="milkshake"
          required
        />
        <label for="milkshake" class="modal-buynow_label3-checkbox">
          <picture class="modal-picture_milkshake">
            <source
              srcset="
                ./images/modal/buy-now-modal/milkshake-buy-now-modal.png    1x,
                ./images/modal/buy-now-modal/milkshake-buy-now-modal@2x.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/modal/buy-now-modal/milkshake-buy-now-modal.png    1x,
                ./images/modal/buy-now-modal/milkshake-buy-now-modal@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/modal/buy-now-modal/milkshake-buy-now-modal.png    1x,
                ./images/modal/buy-now-modal/milkshake-buy-now-modal@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/modal/buy-now-modal/icecream-buy-now-modal.png"
              alt="milkshake"
            />
          </picture>
        </label>
        <p class="modal-buynow_subtitle-milkshake">milkshake</p>
      </div>
      <div class="modal-buynow-container-label">
        <label class="modal-buynow__label">
          <input
            type="text"
            name="name"
            minlength="3"
            placeholder="Name"
            pattern="[a-zA-Zа-яА-ЯіІїЇ`ʼ]+"
            required
            class="modal-buynow__input"
          />
        </label>
        <label class="modal-buynow__label">
          <input
            type="tel"
            name="tel"
            minlength="3"
            placeholder="Phone"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            required
            class="modal-buynow__input"
          />
        </label>
        <label class="modal-buynow__label">
          <textarea
            name="comment"
            placeholder="Comment"
            rows="3"
            class="modal-buynow_textarea"
          ></textarea>
        </label>
        <div class="modal-buynow-field">
          <button type="submit" class="modal-buynow__button button">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
