<!--
<section class="gallery">
  <div class="container container-gallery gallery"> 
  <div class="foto-ice">
    <picture>
      <source
        srcset="
          ./images/gallery/desktop/icecream-gallery.jpg    1x,
          ./images/gallery/desktop/icecream-gallery@2x.jpg 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/gallery/tablet/icecream-gallery.jpg    1x,
          ./images/gallery/tablet/icecream-gallery@2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/gallery/mobile/icecream-gallery.jpg    1x,
          ./images/gallery/mobile/icecream-gallery@2x.jpg 2x
        "
        media="(max-width:767px)"
      />

      <img
        class="ice"
        src="./images/gallery/desktop/icecream-gallery.jpg"
        alt="ice"
      />
    </picture>
  </div>
   </div> 
</section>
-->