<header class="header">

    <div class="container header-container">

        <picture>
            <source
              srcset="./images/header/desktop/icecream-logo.png 1x, ./images/header/desktop/icecream-logo@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
            srcset="./images/header/tablet/icecream-logo.png 1x, ./images/header/tablet/icecream-logo@2x.png 2x"
              media="(min-width: 768px)"
            />

            <source
            srcset="./images/header/mobile/icecream-logo.png 1x, ./images/header/mobile/icecream-logo@2x.png 2x"
              media="(max-width: 767px)"
            />

            <img
              class="logo"
              src="./images/header/desktop/logo-desktop.png"
              alt="логотип"
            />
          </picture>
        
      <nav class="header-navigation">
        <ul class="site-nav list">
          <li class="header-item"><a href="#home" class="header-link link current">Home</a></li>
          <li class="header-item"><a href="#about" class="header-link link">How it’s made?</a></li>
          <li class="header-item"><a href="#products" class="header-link link">Our products</a></li>
          <li class="header-item"><a href="#contacts" class="header-link link">Contact</a></li>
        </ul>
      </nav>

      <button type="button" class="button-menu" data-menu-open aria-expanded="true">
          <svg class="icon-burger" width="32" height="32">
            <use href="./images/sprite.svg#icon-icon-burger"></use>
          </svg>  
        </button>
      <button type="button" class="button button-buy" data-buy-modal-open>Buy now</button>
    </div>

   <div class="mobile-menu" data-menu>
        <div class="container mobile-menu__container">
          <picture>
            <source
            srcset="./images/header/tablet/icecream-logo.png 1x, ./images/header/tablet/icecream-logo@2x.png 2x"
              media="(min-width: 768px)"
            />

            <source
            srcset="./images/header/mobile/icecream-logo.png 1x, ./images/header/mobile/icecream-logo@2x.png 2x"
              media="(max-width: 767px)"
            />

            <img
              class="logo-menu"
              src="./images/header/desktop/logo-desktop.png"
              alt="логотип"
            />
          </picture>
          <button type="button" class="mobile-menu__button-close" data-menu-close>
            <svg class="mobile-menu__icon-close" width="32" height="32">
              <use href="./images/sprite.svg#icon-modal-close-icon"></use>
            </svg>
          </button>
          <ul class="mobile-menu__list list">
            <li class="mobile-menu__item item">
              <a href="#home" data-close-menu class="mobile-menu__link link current">Home</a>
            </li>
            <li class="mobile-menu__item item">
              <a href="#about" data-close-menu class="mobile-menu__link link">How it’s made?</a>
            </li>
            <li class="mobile-menu__item item">
              <a href="#products" data-close-menu class="mobile-menu__link link">Our products</a>
            </li>
            <li class="mobile-menu__item item">
                <a href="#contacts" data-close-menu class="mobile-menu__link link">Contact</a>
              </li>
          </ul>
          <button type="button" class="button button-buy button-buy-menu" data-buy-mob-modal-open>Buy now</button>
        </div> 
    </div>  
</header>