<header>
    <div class="container header-container">
        <img
            class="logo"
            src="./images/logo.png"
            alt="логотип"
            width="40"
        />
    <nav class="header-navigation">
      <ul class="site-nav list">
        <li class="header-item"><a href="" class="header-link link current">Home</a></li>
        <li class="header-item"><a href="" class="header-link link">How it’s made?</a></li>
        <li class="header-item"><a href="" class="header-link link">Our products</a></li>
        <li class="header-item"><a href="" class="header-link link">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="button-menu" data-menu-open>
        <svg class="icon-burger" width="32" height="32">
          <use href=" "></use>
        </svg>
      </button>

    <!-- <!-- <div class="mobile-menu" data-menu> -->
        <div class="container mobile-menu__container">
          <button type="button" class="mobile-menu__button-close" data-menu-close>
            <svg class="mobile-menu__icon-close" width="32" height="32">
              <use href=" "></use>
            </svg>
          </button>
          <ul class="mobile-menu__list list">
            <li class="mobile-menu__item item">
              <a href="" class="mobile-menu__link link current">Home</a>
            </li>
            <li class="mobile-menu__item item">
              <a href="" class="mobile-menu__link link">How it’s made?</a>
            </li>
            <li class="mobile-menu__item item">
              <a href="" class="mobile-menu__link link">Our products</a>
            </li>
            <li class="mobile-menu__item item">
                <a href="" class="mobile-menu__link link">Contact</a>
              </li>
          </ul>
        </div>

    <button type="button" class="button button-buy" data-menu-open>Buy now ></button>
</div>

</header>