<section class="hero">
    <div class="container hero__container">
        <div>
            <h1 class="hero__title">ice cream made with <span class="hero__title--part">passion</span></h1>
            <div class="hero__options">
                <button data-modal-open type="button" class="button button-products">Products</button>
                <a href="" class="link">How it’s made?</a>
            </div>
             <div class="description">
               <img src="./images/logo.png" alt="мороженко в тарелке" width="225" height="225">
              <p class="description-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
             </div>
        </div>
        <img class="global-ice_cream" src="./images/logo.png" alt="главное мороженко" width="257" height="325">
        <div class="objects">
            <p class="objects__amount">16</p>
            <p class="objects__text">cafes</p>
            <p class="objects__amount">23</p>
            <p class="objects__text">food trucks</p>
        </div>
        <!-- <canvas id='canvi'></canvas> -->
    </div>
    </section>
