<section id="home" class="hero">

    <div class="container hero__container">

        <div class="hero__wrapper">
            <h1 class="hero__title">ice cream made with <span class="hero__title--part">passion</span></h1>
            <ul class="hero__list-btn">
                <li><a href="#products" class="hero__btn button">Products</a></li>
                <li><a href="#about" class="hero__btn-link button">How it’s made?</a></li>
            </ul>

            <div class="hero__wrapper-text">
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>
                <a target="_blank" href="" class="description__text-button">
                    <svg class="arrow__icon" width="40" height='14' fill="white">
                        <use href="./images/sprite.svg#icon-arrow-icon"></use>
                    </svg>
                </a>
            </div>
        </div>



        <ul class="list-objects">
            <li class="list-objects__element">
                <p class="objects__amount">16</p>
                <p class="objects__text">cafes</p>
            </li>
            <li class="list-objects__element">
                <p class="objects__amount">23</p>
                <p class="objects__text">food trucks</p>
            </li>
        </ul>

    </div>
</section>