<section id="products" class="background-section__products">
    <div class="conteiner conteiner__products">
        <div class="text-title-style__products">
        <p class="title-section__products">100% natural</p>
        <h2 class="sub-title-section__products">Products</h2>
        </div>
    <!--CARDS-ONE-->
    <ul class="cards-styles__products">
        <li class="cards-one__products">
            <div class="card-one-style__products">


                <picture class="picture-cards-one__products">
                    <source srcset="./images/products/desktop/icecream-products.png 1x, ./images/products/desktop/icecream-products@2x.png 2x"
                        media="(min-width: 1200px)">
                        <source
                            srcset="./images/products/tablet/icecream-products.png 1x, ./images/products/tablet/icecream-products@2x.png 2x"
                            media="(min-width: 768px)">
<source srcset="./images/products/mobile/icecream-products.png 1x, ./images/products/mobile/icecream-products@2x.png 2x" media="(max-width: 767px)">
                </picture>
            <div class="text-style__products">
                <h3 class="title-cards__products">ice cream</h3>
                <p class="description__products">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
            </div>
                    <div class="buttons-style__products">


                        <button type="button" class="button-cards__products" data-products-modal-open>
                            <svg class="button-icon__products">
                                <use href="./images/sprite.svg#icon-arrow-icon"></use>
                            </svg>
                        </button>

                    </div>

                    </div>
        </li>

        <!--CARDS-TWO-->
        <li class="cards-two__products">
            <div class="card-two-style__products">
                <picture class="picture-cards-two__products">
                    <source
                        srcset="./images/products/desktop/icecoffe-products.png 1x, ./images/products/desktop/icecoffe-products@2x.png 2x"
                        media="(min-width: 1200px)">
                    <source srcset="./images/products/tablet/icecoffe-products.png 1x, ./images/products/tablet/icecoffe-products@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/products/mobile/icecoffe-products.png 1x, ./images/products/mobile/icecoffe-products@2x.png 2x"
                        media="(max-width: 767px)">
                </picture>
            <div class="text-style__products">
                <h3 class="title-cards__products">ice coffee</h3>
                <p class="description__products">
                    Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives
                    and flavor enhancers
                </p>
            </div>

            <div class="buttons-style__products">


            <button type="button" class="button-cards__products" data-ice-caffee-modal-open>
                <svg class="button-icon__products">
                    <use href="./images/sprite.svg#icon-arrow-icon"></use>
                </svg>
            </button>

            </div>
            </div>
        </li>

        <!--CARDS-THREE-->
        <li class="cards-three__products">
            <div class="card-three-style__products">
                <picture class="picture-cards-three__products">
                        <source
                            srcset="./images/products/desktop/milkshake-products.png 1x, ./images/products/desktop/milkshake-products@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./images/products/tablet/milkshake-products.png 1x, ./images/products/tablet/milkshake-products@2x.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/products/mobile/milkshake-products.png 1x, ./images/products/mobile/milkshake-products@2x.png 2x"
                            media="(max-width: 767px)">
                </picture>
            <div>
                <h3 class="title-cards__products">
                    milkshakes
                </h3>
                <p class="description__products">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets
                    of your choice
                </p>
            </div>

            
            <div class="buttons-style__products">

                <button type="button" class="button-cards__products" data-milkshakes-modal-open>
                    <svg class="button-icon__products">
                        <use href="./images/sprite.svg#icon-arrow-icon"></use>
                    </svg>
                </button>

            </div>
            </div>
        </li>
    </ul>
    </div>
</section>