<!--TEST HERO-->

<section class="hero">

    <div class="container hero__container">

        <h1 class="hero__title">ice cream made with passion</h1>

        <div class="">

            <button data-modal-open type="button" class="button">How it’s made?</button>
            <a href=""></a>
        </div>

        <div class="">

            <img src="./images/hero/desktop/icecream-hero.png" alt="мороженко в тарелке" width="225" height="225">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
        </div>

        <img src="./images/hero/desktop/many-icecreams-hero.png" alt="главное мороженко" width="257" height="325">
        
        <div>
            <p>16</p>
            <p>cafes</p>
            <p>23</p>
            <p>food trucks</p>
        </div>





</section>
