.reviews {
  background-image: url(/src/images/icecream-bg-block4.jpg),
    linear-gradient(#fcfcfc, #fcfcfc);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .reviews {
    background-image: url(/src/images/icecream-bg-block4@2x.jpg),
      linear-gradient(#fcfcfc, #fcfcfc);
  }
}

.reviews {
  padding-top: 181px;
  padding-bottom: 393px;
}


.reviews__container {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;

  //padding-top: 451px;     //////////
}

.swiper {
  width: 100%;
}

.swiper > div.swiper-pagination {
  position: static;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 50px;
  background-color: #84a178;
}



.reviews__img {
  display: block;
  width: 85px;
  height: 85px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 256px;

  background: #84a178;
  border-radius: 10px;
  padding: 34px 39px;
  width: 100%;
  margin-bottom: 30px;
}

.reviews__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #fcfcfc;
  letter-spacing: 0.04em;
}

.reviews__text-author {
  font-family: 'Montserrat';
  font-style: normal;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 0;
    padding-bottom: 384px;                    // Khama
  }

  .reviews__container {
    padding-top: 218px;
  }

  .reviews__content {        
    height: 138px;
    padding: 29px 80px;
  }

  .reviews__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
  }

  .reviews__text-author {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews {
    //padding-top: 60px;
    padding-bottom: 196px;                // Khama
  }

  .reviews__text {
    font-size: 16px;
  }

     .reviews__container {
       padding-top: 451px;
     }
}
