/*conteiners*/
.conteiner {
        width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 60px;
            padding-bottom: 60px;
            &.conteiner__products{
                padding-left: 20px;
                padding-right: 20px;
            }
}
@media screen and (min-width: 480px) {
    .conteiner {
        width: 480px;
    }
}
@media screen and (min-width: 768px) {
    .conteiner {
        width: 768px;
        &.conteiner__products {
                padding-left: 33px;
                padding-right: 33px;
            }
    }
}
@media screen and (min-width: 1200px) {
    .conteiner {
            width: 1200px;
    
            &.conteiner__products {
                padding-left: 13px;
                padding-right: 13px;
            }
        }

}
/*background-section*/
.background-section__products{
    background-image: url(../images/icecream-bg-block2@2x.jpg);
        background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
}
@media screen and (min-width: 480px) {
    .background-section__products {
            background-image: url(../images/icecream-bg-block2@2x.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
        }
}
@media (min-device-pixel-ratio: 2) and (min-width: 480px),
(min-resolution: 192dpi) and (min-width: 480px),
(min-resolution: 2dppx) and (min-width: 480px) {
        .background-section__products {
            background-image: url(../images/icecream-bg-block2@2x.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
        }
    }
        /*title-section*/
.title-section__products {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: #131313;
}
.sub-title-section__products {
    font-family: 'Seymour One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;    
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #131313;
}
.title-cards__products {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.04em;
        padding-top: 20px;
        text-transform: uppercase;
        color: #131313;
}
.description__products {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 176%;
        text-align: center;
        letter-spacing: 0.04em;
        color: #131313;
        padding: 40px;
        padding-bottom: 90px;
}
@media screen and (min-width: 768px) {
.description__products {
            padding-left: 26px;
            padding-right: 26px;
            padding-bottom: 0px;
    }
}
@media screen and (min-width: 1200px) {
.title-section__products {
text-align: center;
    text-transform: uppercase;
    color: #131313;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 37px;
    }
        .sub-title-section__products {
            padding-top: 12px;
                text-align: center;
                letter-spacing: .06em;
                text-transform: uppercase;
                color: #131313;
                font-family: Seymour One;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: 45px;
        }
                .title-cards__products {
                        text-align: center;
                            letter-spacing: .04em;
                            text-transform: uppercase;
                            color: #131313;
                            padding-top: 32px;
                            font-family: Montserrat;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 37px;
                }
                           .description__products {
                            text-align: center;
                                letter-spacing: .04em;
                                color: #131313;
                                font-family: Montserrat;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 176%;
                                padding: 65px;
                           }
}
/*cards-styles*/
.cards-styles__products {
        gap: 200px;
            display: flex;
            list-style: none;
            flex-direction: column;
            align-items: center;
        }
                @media screen and (min-width: 768px){
                    .cards-styles__products {
                            padding-top: 20px;
                                padding-bottom: 20px;
                                gap: 16px;
                                list-style: none;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: flex-start;
                        }
                }
                @media screen and (min-width: 1200px) {
                    .cards-styles__products {
                        flex-direction: row;
                            gap: 32px;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            list-style: none;
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                    }
                }
           /*cards-button*/
.button-cards__products {
    cursor: pointer;
    background-color: inherit;
    color: #000;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
    padding-bottom: 20px;
}
.button-icon__products {
    width: 40px;
    height: 40px;
}
.button-cards__products:hover .button-icon__products {
    width: 50px;
}
.button-cards__products:focus .button-icon__products {
    width: 50px;
}
@media screen and (min-width: 768px) {
    .buttons-style__products {
            position: absolute;
                top: 485px;
    }
        .button-cards__products {
            padding-bottom: 0px;
        }
}
 @media screen and (min-width: 1200px) {
    .buttons-style__products {
            position: absolute;
            top: 660px;
        }
 }
/*cards-1-styles*/
.cards-one__products {
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
    width: 280px;
        height: 420px;
    background: #AEC6A5;
        border-radius: 24px;
        margin-bottom: 20px;
}
         .picture-cards-one__products {
             background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
             box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
             border-radius: 50%;
             width: 200px;
             height: 200px;
                    &::before {
                       background-image: url("../images/products/mobile/icecream-products@2x.png");
                       background-size: 200px 200px;
                       content: "";
                       width: 200px;
                       height: 200px;
                       top: -11px;
                       position: absolute;
                   }
                }
    
         .card-one-style__products {
             display: flex;
             flex-direction: column;
             align-items: center;
             position: relative;
             bottom: 40px;
         }
                 @media screen and (min-width: 768px) {
                .cards-one__products {
                    width: 224px;
                        height: 428px;
                    }
                    .card-one-style__products {
                        bottom: 100px;
                    }
                 }
                  @media screen and (min-width: 1200px) {
                    .cards-one__products {
                            width: 370px;
                            height: 535px;
                        }
                         .card-one-style__products {
                        bottom: 135px;
                    }
                      .picture-cards-one__products {
                    width: 300px;
                    height: 300px;
            
                    &::before {
                        background-image: url("../images/products/mobile/icecream-products@2x.png");
                        background-size: cover;
                        content: "";
                        width: 300px;
                        height: 300px;
                        top: -17px;
                        position: absolute;
                    }
                }
         }

/*cards-2-styles*/
.cards-two__products {
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 280px;
            height: 420px;
            background: #EFD478;
            border-radius: 24px;
            margin-bottom: 20px;
}
                .card-two-style__products {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    bottom: 60px;
                }
        
                .picture-cards-two__products {
                    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
                    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
                    border-radius: 50%;
                        width: 200px;
                        height: 200px;
                    
                        &::before {
                            background-image: url("../images/products/mobile/icecoffe-products@2x.png");
                            background-size: 200px 200px;
                            content: "";
                            width: 200px;
                            height: 200px;
                            top: -11px;
                            position: absolute;
                        }
                    }
                @media screen and (min-width: 768px)
{
    .cards-two__products {
        width: 224px;
            height: 428px;
}
 .card-two-style__products {
     bottom: 75px;
 }
}
  @media screen and (min-width: 1200px) {
      .cards-two__products {
          width: 370px;
          height: 535px;
      }
           .card-two-style__products {
               bottom: 125px;
           }
                  .picture-cards-two__products {
            width: 300px;
                height: 300px;
            
                &::before {
                    background-image: url("../images/products/mobile/icecoffe-products@2x.png");
                    background-size: cover;
                    content: "";
                    width: 300px;
                    height: 300px;
                    top: -17px;
                    position: absolute;
                }
            }
         }
/*cards-3-styles*/
.cards-three__products {
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 280px;
            height: 420px;
            background: #D6936D;
            border-radius: 24px;
}
                        .card-three-style__products {
            display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                bottom: 60px;
        }
                .picture-cards-three__products {
                background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
                    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
                        border-radius: 50%;
                            width: 200px;
                            height: 200px;
                        
                            &::before {
                                background-image: url("../images/products/mobile/milkshake-products@2x.png");
                                background-size: 200px 200px;
                                content: "";
                                width: 200px;
                                height: 200px;
                                top: -11px;
                                position: absolute;
                            }
                }
                                @media screen and (min-width: 768px) {
                                    .cards-three__products {
                                        width: 224px;
                                        height: 428px;
                                    }
                
                                    .card-three-style__products {
                                        bottom: 87px;
                                    }
                                }
                                  @media screen and (min-width: 1200px) {
                    .cards-three__products {
                            width: 370px;
                            height: 535px;
                        }
                          .card-three-style__products {
                                        bottom: 130px;
                                    }
                                           .picture-cards-three__products {
            width: 300px;
            height: 300px;
        
            &::before {
                background-image: url("../images/products/mobile/milkshake-products@2x.png");
                background-size: cover;
                content: "";
                width: 300px;
                height: 300px;
                top: -17px;
                position: absolute;
            }
                  }
                }
/*text-title-style*/
        .text-title-style__products {
            margin-bottom: 148px;
        }
                @media screen and (min-width: 1200px) {
                    .text-title-style__products {
                            margin-bottom: 303px;
                        }
                }